<!DOCTYPE html>
<html lang="en"><title>
  Welcome To Bank of CPSC 455
   </title>

<head>
  <link rel="stylesheet" href="/stylesheets/home.css">

</head>

<body>
 <div>
   <header>
  <h1>Welcome To Bank of CPSC 455 </h1>

</header></div>

  <div>

    <form action="/submit" method="POST">
      <div id="divform">
        <h1>Login Form</h1>
        <div>
          <input type="text" placeholder="Enter Username" name="uname" required>
        </div>
        <div>
          <input type="password" placeholder="Enter Password" name="psw" required>
        </div>
       
        <div> <button type="submit" formaction="/login">Login</button></div>
        <div> <button type="submit" formaction="/register">Register</button></div>

      </div>
    </form>

  </div>
<div><footer>
  <p>Author: Danh Pham</p>
  <p>CPSC 455 WEB SECURITY </p>
  <p>CSUF</p>

</footer></div>
</body>

</html>